.app {
  width: 1024px;
  margin: 20px auto;
}

.controls {
  margin-bottom: 20px;
}
.controls button {
  margin: 0 5px;
  padding: 3px 5px;
}

.gameGrid {
  border-collapse: collapse;
  border-spacing: 0;
}

.gameGrid td {
  border: 1px solid #ddd;
  width: 10px;
  height: 10px;
  background-color: white;
}

.gameGrid td.live {
  background-color: green;
}
